<%= link_to("Edit this Task", edit_task_path) %>

<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<div>
<%if @task.completed? %>
  <%= "This task is completed" %>
<% else  %>
  <%= "This task is not completed" %>
<% end %>
</div>

<%= link_to("Back to list", tasks_path) %>
